// Reset all Margin/padding/list styles/'<a> tags text decoration

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

// CSS Variables for color & font size
:root {
   --clr-white: #f9f9f9;
   --clr-gray: #f2f2f2;
   --text-gray: #aaaaaa;
   --clr-black: #151414;
   --clr-blue: #119ee6;

   // font sizes
   --font-sm: 1.2rem;
   --font-md: 1.5rem;
   --font-lg: 2rem;
   --font-xl: 2.5rem;
   --font-2xl: 3rem;
   --font-3xl: 4rem;
}

html,
body {
   scroll-behavior: smooth;
   font-family: "Roboto", sans-serif;
   font-size: 62.5%; /* font-size 1em = 10px, 1rem = 16px on default browser settings */
   text-rendering: optimizeLegibility;
}

// ------- Common Custom components -------

// ------------- Header Section ---------------
header {
   .topbar {
      width: 100%;
      background-color: var(--clr-black);
      color: var(--text-gray);

      .topbar_content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: var(--font-sm);

         .topbar_left {
            display: flex;
            align-items: center;

            .social_icons {
               display: flex;
               align-items: center;
               i {
                  margin-right: 1rem;
               }
            } //end of social_icons
         } //end of topbar_left

         .topbar_right {
            display: flex;

            .contact_info_top {
               display: flex;
               align-items: center;
            }
         } //end off topbar_right
      } //end of topbar_content
   } //end of topbar class

   .navbar {
      background-color: var(--clr-white);
      font-size: var(--font-md);
      padding: 0;
      position: relative;

      .navbar-brand {
         max-width: 160px;
      }

      .navbar-nav {
         border-right: 2px solid var(--clr-gray);
         .nav-link {
            padding: 2.5rem 0.8rem;
            color: var(--clr-black);
            font-weight: 500;
         }

         .active {
            color: var(--clr-blue) !important;
            border-top: 2px solid var(--clr-blue);
         }
      } //end of navbar-nav

      .nav-icon {
         a {
            color: var(--clr-black) !important;
         }
      }

      .navbar-toggler {
         margin: 2.5rem 0;
      }

      .collapse {
         position: relative;
         .user_snippet {
            max-width: 50px;
            position: absolute;
            top: 50px;
            right: 20px;
            z-index: 10;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;

            a {
               display: block;
            }
         } //end of user_snippet
      }
   } //end of navbar
} //end of header section

// ---------------- Main Content ----------------
main {
   font-size: var(--font-sm);

   .banner_section {
      background-color: var(--clr-gray);
      padding-top: 10rem;

      .carousel {
         // padding-bottom: 10rem;
         .carousel-item {
            .banner_content {
               h2 {
                  font-size: var(--font-3xl);
                  font-weight: 700;
               }

               p {
                  font-weight: 500;
                  color: var(--clr-black);
               }

               a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-decoration: none;
                  background: var(--clr-blue);
                  color: var(--clr-white);
                  font-size: var(--font-md);
                  max-width: 160px;
                  text-align: center !important;
               }
            } //end of banner_content

            .banner_img {
               width: 100%;
               display: flex;
               justify-content: end;
            } //end of banner_img
         } //end of carousel-item

         .carousel-control-next,
         .carousel-control-prev {
            background: var(--clr-blue);
            height: 80px !important;
            width: 28px !important;
            top: 50% !important;
            transform: translateY(-50%);
            opacity: 1 !important;
         }
      } //end of carousel

      .services_cards {
         width: 100%;
         padding-top: 10rem;

         .row {
            .col {
               background: var(--clr-blue);
            }
         }

         .service_card {
            position: relative;
            padding: 0 3rem;
            color: var(--clr-gray);
            .card_icon {
               position: absolute;
               top: -64px;
               left: 3rem;
               z-index: 999;
            }

            .card-title {
               h3 {
                  font-size: var(--font-xl);
                  color: var(--clr-gray);
                  text-transform: capitalize;
               }
            }
         } //endd of service_card
      } //end of services_cards
   } //end of baanner section
} //end of main content

.footer {
   width: 100%;
   font-size: var(--font-sm);
   padding-top: 6rem;
   background-color: var(--clr-black);
   color: var(--text-gray);

   .row {
      .footer_btn {
         display: flex;
         align-items: center;
         a {
            text-decoration: none;
            color: var(--clr-gray);
         }
      } //end of footer_btn

      .footer_icons {
         display: flex;
         i {
            margin-right: 1rem;
         }
      } //end of footer_icons

      .footer_heading {
         color: var(--clr-gray);
         h4 {
            margin-bottom: -4px;
            font-size: var(--font-lg);
         }
      } //end  of footer_heading

      .footer_links {
         display: flex;
         flex-direction: column;

         a {
            text-decoration: none;
            color: var(--text-gray);
            padding-bottom: 0.5rem;
         }
      } //end of footer_links

      .footer_email_input {
         position: relative;
         max-width: 220px;
         input {
            width: 100%;
            padding: 0.5rem 1rem;
            border: none;
         }
         .subscribe_btn {
            position: absolute;
            top: 0;
            right: 0;

            button {
               padding: 0.5rem 1rem;
               background: var(--clr-blue);
               border: none;
               color: var(--clr-gray);
            }
         }
      } //end of footer_email_input

      .footer_payment_cards {
         p {
            color: var(--clr-gray);
         }
         .payment_cards {
            max-width: 180px;
         }
      } //end of footer_payment_cards
   } //end of row

   .footer_bottom {
      border-top: 1px solid var(--clr-gray);
      p {
         padding: 1.5rem 0;
         text-align: center;
         span {
            color: var(--clr-blue);
         }
      }
   } //endd of footer_bottom
} //end of footer
